<div class="detail-task-card card mt-1">
    <div class="card-header">
        <h3 class="mb-0"><span class="from_city">{{ task.from_city }}</span>-<span class="to_city">{{ task.to_city }}</span></h3>
    </div>
    <div class="card-body">
        <p>Починаючи з часу: <b>{{ task.start_date_local }}</b></p>
        {% if task.end_date_local %}
            <p>Закінчуючи часом: <b>{{ task.end_date_local }}</b></p>
        {% else %}
            <p>Закінчуючи часом: <b>кінець доби</b></p>
        {% endif %}
        <p>Кількість місць: <b>{{ task.requested_seats }}</b></p>
        {% if task.radius_in_kilometers %}
            <p>Радіус пошуку: <b>{{ task.radius_in_kilometers }} км</b></p>
        {% endif %}
        {% if task.notification %}
            <p class="text-end mb-0">
                <b><i class="fa-solid fa-envelope-circle-check me-2"></i>Сповіщення про нові поїздки </b></p>
        {% endif %}
    </div>
    <div class="card-footer text-center text-md-end">
        <a href="{% url 'task_update' task.pk %}" class="btn btn-secondary btn">Редагувати</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#task_delete_{{ task.pk }}">Видалити
        </button>
        {% include 'main/inc/_modal_confirm_delete.html' %}
    </div>
</div>