<section class="sorting-area mt-3 mt-md-5 mb-3">
    <div class="sorting">
        <select class="form-select button-group sort-by-button-group py-2" aria-label="Default select example">
            <option selected value="departure_time" data-sort-by="original-order">За часом відправлення</option>
            <option value="price" data-sort-by="price">За ціною</option>
        </select>
    </div>
</section>
<section class="filters-area accordion mb-3" id="accordion-filters">
    <div class="accordion-item">
        <h5 class="accordion-header text-center" id="heading-filters">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-filters"
                    aria-expanded="false" aria-controls="collapse-filters">
                <i class="bi bi-funnel me-2"></i>Фільтри
            </button>
        </h5>
        <div id="collapse-filters" class="accordion-collapse collapse" aria-labelledby="heading-filters"
             data-bs-parent="#accordion-filters">
            <div class="filters accordion-body">
                <div class="ui-group">
                    <h6>За населеним пунктом</h6>
                    <div class="button-group filters-button-group" data-filter-group="city">
                        <button class="button is-checked" data-filter="*">Всі поїздки (з містами поблизу)</button>
                        <button class="button" data-filter="from_to_city">
                            Тільки м.{{ from_city }}-м.{{ to_city }}</button>
                        <button class="button d-inline-block" data-filter="from_city">Відправлення
                            з м.{{ from_city }}</button>
                        <button class="button d-inline-block" data-filter="to_city">Прибуття
                            в м.{{ to_city }}</button>
                    </div>
                </div>
                <div class="ui-group">
                    <h6>За автомобілем</h6>
                    <div class="button-group filters-button-group" data-filter-group="vehicle">
                        <button class="button is-checked" data-filter="*">Будь-яке авто</button>
                        <button class="button d-inline-block" data-filter="with_vehicle">Вказано марку авто</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>