<div class="modal fade" id="task_info_append">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <form method="POST">
                {% csrf_token %}
                <div class="modal-header flex-column">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>

                    <div class="row mt-4 form-check form-switch ps-0">
                        <div class="col">
                            <h6><label for="id_notification">
                                <i class="fa-solid fa-bell me-2"></i>Отримувати сповіщення про нові
                                поїздки {{ form.data.from_city }}-{{ form.data.to_city }}</label>
                            </h6>
                        </div>
                    </div>
                    <div class="row form-check form-switch">
                        <div class="col-1">
                            <h5><input type="checkbox" role="switch" name="notification" class="form-check-input"
                                       id="id_notification"></h5>
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                    <button type="submit" class="btn btn-success" name="save">Зберегти</button>
                </div>
            </form>
        </div>
    </div>
</div>
