{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="quota max-w-1000">
        <div class="text-center text-sm-start mb-3">
            <h3><i class="bi bi-cloud-upload fs-3 me-2"></i>{{ title }}</h3>
            <h6 class="text-muted text-start border-bottom pb-2">{{ subtitle }}</h6>
        </div>
        <table class="table layout-form">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Залишок</th>
                <th scope="col">Ліміт</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">На день</th>
                <td>{{ quota.remaining_day }}</td>
                <td>{{ quota.limit_day }}</td>
            </tr>
            <tr>
                <th scope="row">На хвилину</th>
                <td>{{ quota.remaining_minute }}</td>
                <td>{{ quota.limit_minute }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}