/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.content {
    margin: 1.5rem 0;
}

.max-w-1000 {
    max-width: 1000px;
    margin: 0 auto;
}

.layout-form {
    max-width: 400px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.btn-main {
    --bs-btn-color: #fff;
    --bs-btn-bg: #00aff5;
    --bs-btn-border-color: #00aff5;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #009cd9;
    --bs-btn-hover-border-color: #25cff2;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #009cd9;
    --bs-btn-active-border-color: #009cd9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0dcaf0;
    --bs-btn-disabled-border-color: #0dcaf0;
}

a, a:hover {
    text-decoration: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
nav {
    background-color: #00aff5;
}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    text-decoration: none;
    background-color: #e0e0e0;
}

/*--------------------------------------------------------------
# Search form
--------------------------------------------------------------*/
.btn-exchange {
    --bs-btn-color: #6c757d;
    --bs-btn-border-color: #ced4da;
    --bs-btn-hover-color: #6c757d;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #ced4da;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #ced4da;
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
    margin-top: 0.3rem;
}

.task-form p:has(>span input#from_city),
.task-form p:has(>input#to_city) {
    margin-bottom: 0.2rem;
}

.task-form p:has(>input#id_only_from_city),
.task-form p:has(>input#id_only_to_city) {
    margin-bottom: 1.1rem;
}

input[type="checkbox"] {
    float: left;
    margin-right: 0.5rem;
}

/*--------------------------------------------------------------
# Filter and sorting
--------------------------------------------------------------*/
.filters-area .accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}

.button {
    display: inline-block;
    padding: 8px 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.button:hover {
    background-color: #e0e0e0;
}

.button.is-checked {
    background-color: #00aff5;
}

.button.is-checked {
    color: white;
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 32%, 0.5);
}