{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-md-5 col-xl-4 mb-2">
                <a href="{% url 'task_list' %}" class="btn btn-secondary btn-sm mt-2">
                    <i class="bi bi-arrow-left"></i> Назад до переліку поїздок</a>
                {% include 'main/inc/_detail_task_card.html' %}
            </div>
            <div class="col-md-5">
                {% include 'main/inc/_availiable_trips.html' %}
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h4 class="card-title text-center">Інші доступні поїздки поблизу</h4>
                        <a class="card-text" href="{{ task.taskinfo.link }}"
                           target="_blank">{{ task.taskinfo.link }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}