{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    {% if task_list %}
        <h2 class="page-title">{{ title }}</h2>
        <div class="row">
            {% for task in task_list %}
                <div class="col-md-6 col-xl-4 mb-3">
                    {% include 'main/inc/_task_card.html' %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row justify-content-center my-5">
            <div class="col-6 text-center">
                <h1><i class="fa-solid fa-car"></i></h1>
                <h1>Запланованих поїздок немає</h1>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col text-center {% if task_list %}text-md-start{% endif %}">
            <a href="{% url 'create_task' %}" class="btn btn-secondary">
                <i class="fa-solid fa-magnifying-glass me-2"></i>Запланувати нову поїздку</a>
        </div>
    </div>
{% endblock %}