{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-md-5 col-xl-4 mb-2">
                <a href="{% url 'task_list' %}" class="btn btn-secondary btn-sm mt-2">
                    <i class="bi bi-arrow-left"></i> Назад до переліку поїздок</a>
                {% include 'inc/_detail_task_card.html' %}
            </div>
            <div class="col-md-5">
                <h3 class="text-center my-2">Доступні поїздки<span
                        class="badge bg-secondary ms-2">{{ trip_list.count }}</span>
                </h3>
                {% for trip in trip_list %}
                    {% include 'inc/_trip_card.html' %}
                {% empty %}
                    <div class="card shadow-lg mb-3">
                        <div class="card-body text-center">
                            <b>На даний момент доступних поїздок {{ task.from_city }}-{{ task.to_city }} немає</b>
                        </div>
                    </div>
                {% endfor %}
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h4 class="card-title text-center">Інші доступні поїздки поблизу</h4>
                        <a class="card-text" href="{{ task.taskinfo.link }}"
                           target="_blank">{{ task.taskinfo.link }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}