{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="container-fluid mb-4">
        <div class="row justify-content-center my-3">
            <div class="col text-center">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            {% for task in task_list %}
                {% include 'inc/_task_card.html' %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'create_task' %}" class="btn btn-secondary">
                    <i class="fa-solid fa-magnifying-glass me-2"></i>Знайти нову поїздку</a>
            </div>
        </div>
    </div>
{% endblock %}