{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for task in task_list %}
                    <p><a href="{% url 'task_detail' task.pk %}">{{ task }}</a></p>
                {% empty %}
                    <p>Наразі не створено щодного завдання</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><a href="{% url 'create_task' %}">
                    <button>Створити новий пошук</button>
                </a></p>
            </div>
        </div>
    </div>
{% endblock %}